{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}

<h1 class="mt-3 mb-5">اضافه کردن رمز عبور جدید</h1>

<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="mb-3 col-sm-5">
      <label class="form-label" for="id_website">وبسایت:</label>
      <input class="form-control" type="text" name="website" required id="id_website">
      <div id="websiteHelpBlock" class="form-text">
        آدرس وبسایت و یا نام نرم افزار را وارد کنید.
      </div>
    </div>
    <div class="mb-3 col-sm-5">
      <label class="form-label" for="id_username">نام کاربری:</label>
      <input class="form-control" type="text" name="username" id="id_username">
      <div id="usernameHelpBlock" class="form-text">
        اختیاری می باشد.
      </div>
    </div>
    <div class="mb-3 col-sm-5">
      <label class="form-label" for="id_phone">شماره تماس:</label>
      <input class="form-control" type="text" name="phone" id="id_phone">
      <div id="phoneHelpBlock" class="form-text">
        اختیاری می باشد.
      </div>
    </div>
    <div class="mb-3 col-sm-5">
      <label class="form-label" for="id_password">رمز عبور:</label>
      <input class="form-control" type="text" name="password" required id="id_password">
      <button type="button" class="btn btn-primary" onclick="generatePassword()">تولید رمز عبور</button>
    </div>
	<input type="submit" class="btn btn-primary" value="ذخیره">
    <a href="{% url 'password_list' %}" class="btn btn-secondary">بازگشت</a>
</form>

{% else %}

<h1>لطفا وارد شوید</h1>

<a href="{% url 'login' %}" class="btn btn-primary mb-3">ورود</a>

{% endif %}

{% endblock %}

