{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="mt-3 mb-5">لیست رمز عبور</h1>

<a href="{% url 'password_create' %}" class="btn btn-primary mb-3">افزودن رمز عبور جدید</a>



<div class="d-flex flex-column justify-content-between">
    {% for password in object_list %}
        <div class="d-flex flex-row justify-content-between border p-3 rounded mb-3 shadow">
            <div class="d-flex flex-column">
                <h5>{{ password.website }}</h5>
                <p>نام کاربری: {{ password.username }}</p>               
            </div>
            <div class="d-flex flex-row justify-content-evenly align-items-center">
                <a href="{% url 'password_detail' password.id %}" class="btn btn-secondary btn-sm mb-3">جزئیات</a>
                <a href="{% url 'password_update' password.id %}" class="btn btn-primary btn-sm mb-3">ویرایش</a>
                <a href="{% url 'password_delete' password.id %}" class="btn btn-danger btn-sm mb-3">حذف</a>
            </div>
        </div>
    {% endfor %}
</div>

{% else %}
<h1>لطفا وارد شوید</h1>
<a href="{% url 'login' %}" class="btn btn-primary mb-3">ورود</a>
{% endif %}

{% endblock %}
