{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="mt-3 mb-5">جزئیات رمز عبور</h1>

<h6>وبسایت: {{ object.website }}</h6>
<h6>نام کاربری: {{ object.username }}</h6>
<h6>شماره تماس: {{ object.phone }}</h6>
<h6>رمز عبور: {{ object.password }}</h6>

<a href="{% url 'password_list' %}" class="btn btn-secondary">بازگشت</a>

{% else %}

<h1 class="mt-3 mb-5">لطفا وارد شوید</h1>
<a href="{% url 'login' %}" class="btn btn-primary mb-3">ورود</a>

{% endif %}

{% endblock %}
