{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

<h1 class="mt-3 mb-5">حذف رمز عبور</h1>

<form method="post">
    {% csrf_token %}
    <p>آیا از حذف رمز عبور "{{ object.website }}" اطمینان دارید؟</p>
    <input type="submit" class="btn btn-danger" value="Delete">
    <a href="{% url 'password_list' %}" class="btn btn-secondary">بازگشت</a>
</form>

{% else %}

<h1 class="mt-3 mb-5">لطفا وارد شوید</h1>
<a href="{% url 'login' %}" class="btn btn-primary mb-3">ورود</a>

{% endif %}

{% endblock %}